html,
body {
	margin:0;
	padding:0;
	height:100%;
}

form {
	margin:0;
}
a {
	 color: #0066ff;
}
.wrapper {
	min-width:1200px;
	min-height:100%;
	position:relative;
}

.header {
	background:#ededed;
	height:80px;
	padding:10px;
	border-bottom:1px solid black;
	position:relative;
}

.header h1 {
	float:left;
	margin-left:20px;
}

.header .lang {
	display:inline-block;
	position:absolute;
	top:65px;
	right:15px;
}

.header .logout {
	display:inline-block; 
	float:right;
}

.header .welcome {
	display:inline-block;
	margin-right:10px;
	font-weight:bold;
}

.header .username {
	font-style:italic;
}


.content-wrapper {
	width:100%;
	padding-bottom:40px; /* Height of the footer element */
}

.menu {
	width:300px;
	box-sizing:border-box;
	float:left;
	padding:20px;
	margin:0 5px;
	border:1px solid #c0c0c0;
	border-radius:5px;
}

.menu ul {
list-style-type:none;
list-style-image: url('arrow.gif');
}

.content {
	
	min-width:300px;
	min-height:300px;
	position:relative;
	padding:10px;
	
	border:1px solid #c0c0c0;
	border-radius:5px;
	margin:5px;	
	overflow:hidden;
}

.content-w-menu {
	

	min-height:300px;
	position:relative;
	padding:10px;
	
	border:1px solid #c0c0c0;
	border-radius:5px;
	margin:5px;	
	overflow:hidden;
}

.content .login {
	margin-
} 

.content .filter {
		
	margin-left:20%;
	width:95%;
    padding:10px;
    height:40px;
    margin-bottom:40px;
    vertical-align:top;
    box-sizing:border-box;
  
    
}

.filter .multiselect {
	width:45%;
	float:left;
	display:inline-block;
	margin-right:5px;
}

.filter .author {
	width:40%;
	float:left;
	margin-right:5px;
	display:inline-block;
}



#criteria {
	width:70%;
    display:inline-block;
    float:left;
    height:40px;
}

#resetform {
	width:20%;
	display:inline-block;
	float:left;
	height:40px;
	text-align:left;
}


.content .newslist {
	
	padding-bottom:80px;
	
}

.content .newslist .news {
	border-bottom:1px solid #c0c0c0;
	padding:15px;
	padding-bottom:30px;
	margin-bottom:40px;
	
}
.fullnews {
	padding:50px 50px 15px 50px;
}
.news .title {
	font-weight:bold;
	display:inline-block;
	margin-right:30px;
}

.news .author {
	font-style:italic;
}

.news .date {
	display:inline-block;
	float:right;
}
.news .short {
	
}

.news .additional {
	display:inline-block;
	float:right;
}

.news .tag {
	color:#008080;
}

.news .full {
	text-align:justify;
}

.news .commentsnum {
	display:inline-block;
	margin-left:50px;
	margin-right:50px;
}

.delete input[type=submit] {
	padding:5px 15px;
	float:right;
	margin-top:-30px;
	margin-bottom:50px;
}

.comments {
	padding:15px 50px;
	width:50%;
	margin-bottom:50px;
}
.comment {
	margin: 10px 0;
	display:inline-block;
	width:100%;
}



.postcomment {
	
}
.postcomment .text {
	width:100%;
	height:100px;
}

.postcomment input[type=submit] {
	float:right;
	margin:10px 0 10px 10px;
	width:auto;
	height:30px;
	border-radius:5px;
}

.deletecomment input[type=submit] {
	float:right;
}

.comment .text {
	display:inline-block;
	width:100%;
	border:1px solid #c0c0c0;
	border-radius:5px;
	padding:5px;
	background:#feffdf;
	
}

.controls {
	width:100%;
}
.controls .prev {
	display:inline-block;
	float:left;
}
.controls .next {
	display:inline-block;
	float:right;
}

.content .pages {
	
	width:100%;
	overflow:hidden;
	height:40px;
	padding:5px;
	background:#f7c89d;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}

.pages .pagenum {
	display:inline-block;
	text-align:center;
	text-decoration:none;
	
	width:30px;
	height:30px;
	border:1px solid #8f8f8f;
	padding:5px;
	box-sizing:border-box;
	border-radius:5px;
	box-shadow: 1px 1px 1px 0 #000040;
	background:#fdf3e8;
	font-weight:bold;
	color:#400040;
	margin:5px;
}

.pages .active {
	background:#ff8000;
	color:#fff;
}

.footer {
	background:#ffe9d5;
	border-top:1px solid black;
	
	width:100%;
	height:25px;
	
	padding-top:10px;
	padding-bottom:5px;
	text-align:center;
	
	position:absolute;
	bottom:0;
	left:0;
}


.login {
	width:350px;
	margin:auto;
	margin-top:15%;
	margin-bottom:30%;
	text-align:right;
	padding:50px;
}
.login .left {
	text-align:left;
	float:left;
}
.login .right {
	float:left;
}
.login label {
	display:inline-block;
	margin-bottom:10px;
	margin-right:5px;
}
.login input[type=text], input[type=password] {
	margin-bottom:5px;
}
.login input[type=submit] {
	margin-top:10px;
	padding:5px 15px;
	
}

.error {
	color:#ff0000;
}

.addnews {
	margin-bottom:30%;
	width:80%;
	padding:30px 10px;

}

.addnews label {
	display:inline-block;
	font-weight:bold;
	margin-right:10px;
	float:left;
	width:100px;
	text-align:justify;
}

.addnews .field {
	padding-bottom:20px;
	
}
.addnews .title{
	width:80%;
}

.addnews .date {

}
.addnews .short {
	width:80%;
	height:80px;
}

.addnews .full {
	width:80%;
	height:150px;
}

.addnews .filter {
	width:80%;
}

.addnews input[type=submit] {
	float:right;
	padding:5px 15px;
	margin-right:15px;
}
.authors, .tags {
	width:100%;
	padding: 20px 20px;
	box-sizing:border-box;
	margin-bottom:50px;
}

.author, .tag {

}

.author form, .tag form {
	
	display:inline;
	
}
.formwithtext {
	width:80%;
	padding-right:0;
	margin-right:0px;
}
.formbutton {
}

form.blocked {
width:100%;
}
.authors label, .tags label {
	font-weight:bold;
	margin-right:15px;
}
.authors .author, .tags .tag  {
	width:100%;
	padding-bottom:20px;
}
.authors .author input[type="text"], .tags .tag  input[type="text"] {
	display:inline-block;
	width:50%;
	margin-right:15px;
}

.authors .author input[type="submit"], .tags .tag input[type="submit"] {
	 background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer; 
}

.saveauthor, .savetag {
	width:100%;
	padding: 20px 20px;
	margin-bottom:100px;
	
}
.saveauthor label, .savetag label {
	font-weight:bold;
}
.saveauthor input[type="text"], .savetag input[type="text"] {
	width:55%;
	margin-right:10px;
}
.saveauthor input[type="submit"], .savetag input[type="submit"] {
	 background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer; 
}

.highlight {
	font-weight:bold;
}

.error {
	font-weight:bold;
	color:red;
}