<?xml version="1.0" encoding="UTF-8" ?>
<taglib
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
    version="2.1">
    
	<tlib-version>1.0</tlib-version>
	<short-name>ctg</short-name>
	<uri>customtags</uri>
	
	<tag>
		<name>pagination</name>
		<tag-class>com.epam.newsmanagement.tag.PaginationTag</tag-class>
		<body-content>empty</body-content>
			<attribute>
			<name>current</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue> 
			</attribute>
			<attribute>
			<name>numOfPages</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue> 
			</attribute>
	</tag>

</taglib>
