html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-width:1200px;
	min-height:100%;
	position:relative;
}

.header {
	background:#ededed;
	height:80px;
	padding:10px;
	border-bottom:1px solid black;
}

.header h1 {
	float:left;
	margin-left:20px;
}
.header .lang {
	float:right;
	margin-top:60px;
}

.content-wrapper {
	
	padding-bottom:40px; /* Height of the footer element */
}
.content {
	min-height:300px;
	position:relative;
	padding:10px;
	
	border:1px solid #c0c0c0;
	border-radius:5px;
	margin:5px;	
	overflow:hidden;
}


.content .filter {
		
	margin-left:20%;
	width:80%;
    padding:10px;
    height:40px;
    margin-bottom:40px;
    vertical-align:top;
    box-sizing:border-box;
  
    
}

.filter .multiselect {
	width:50%;
	float:left;
	display:inline-block;
	margin-right:5px;
}

.filter .author {
	width:40%;
	float:left;
	margin-right:5px;
	display:inline-block;
}

.error {
	color:red;
	font-weight:bold;
}

#criteria {
	width:70%;
    display:inline-block;
    float:left;
    height:40px;
}

#resetform {
	width:20%;
	display:inline-block;
	float:left;
	height:40px;
	text-align:left;
}



.content .newslist {
	
	padding-bottom:50px;
	
}

.content .newslist .news {
	border-bottom:1px solid #c0c0c0;
	padding:15px;
	padding-bottom:30px;
	margin-bottom:40px;
	
}
.fullnews {
	padding:50px 50px 15px 50px;
}
.news .title {
	font-weight:bold;
	display:inline-block;
	margin-right:30px;
}

.news .author {
	font-style:italic;
}

.news .date {
	display:inline-block;
	float:right;
}
.news .short {
	
}

.news .additional {
	display:inline-block;
	float:right;
}

.news .tag {
	color:#008080;
}

.news .full {
	text-align:justify;
}

.news .commentsnum {
	display:inline-block;
	margin-left:50px;
	margin-right:50px;
}

.comments {
	padding:15px 50px;
	width:50%;
	margin-bottom:50px;
}
.comment {
	margin: 10px 0;
	display:inline-block;
	width:100%;
}

.postcomment {
	
}
.postcomment .text {
	width:100%;
	height:100px;
}

.postcomment input[type=submit] {
	float:right;
	margin:10px 0 10px 10px;
	width:auto;
	height:30px;
	border-radius:5px;
}

.comment .text {
	display:inline-block;
	width:100%;
	border:1px solid #c0c0c0;
	border-radius:5px;
	padding:5px;
	background:#feffdf;
	
}

.controls {
	width:100%;
}
.controls .prev {
	display:inline-block;
	float:left;
}
.controls .next {
	display:inline-block;
	float:right;
}

.content .pages {
	width:100%;
	overflow:hidden;
	height:40px;
	padding:5px;
	background:#f7c89d;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}

.pages .pagenum {
	display:inline-block;
	text-align:center;
	text-decoration:none;
	
	width:30px;
	height:30px;
	border:1px solid #8f8f8f;
	padding:5px;
	box-sizing:border-box;
	border-radius:5px;
	box-shadow: 1px 1px 1px 0 #000040;
	background:#fdf3e8;
	font-weight:bold;
	color:#400040;
	margin:5px;
}

.pages .active {
	background:#ff8000;
	color:#fff;
}

.footer {
	background:#ffe9d5;
	border-top:1px solid black;
	
	width:100%;
	height:25px;
	
	padding-top:10px;
	padding-bottom:5px;
	text-align:center;
	
	position:absolute;
	bottom:0;
	left:0;
}

